/backend/__pychache__/
/backend/core/__pycache__/
*.pyc
*sqlite3

# Python / Pipenv
backend/core/.env
*.pyc
__pycache__/
*.sqlite3


# Node / Nuxt
/exam-archive-front/.nuxt/
./exam-archive-front/.env
/exam-archive-front/node_modules
# General
.env
.DS_Store
backend/mysql.cnf
