/backend/__pychache__/
/backend/core/__pycache__/
*.pyc
*sqlite3
# Python / Pipenv
backend/core/.env
*.pyc
__pycache__/
*.sqlite3


# Node / Nuxt
./exam-archive-front/.env
/exam-archive-front/node_modules
# General
.env
.DS_Store
backend/mysql.cnf
backend/fetenaArchive/migrations
exam-archive-front/.nuxt/
backend/media/ETDU/

backend/fetenaArchive/fixtures/exams.json
exam-archive-front/package-lock.json
exam-archive-front/nuxt.config.ts
exam-archive-front/nuxt.config.ts
exam-archive-front/package-lock.json
exam-archive-front/package.json
